# Dependency directory
node_modules/

# TypeScript build output
dist/

# Environment files
.env

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
*.code-workspace
*.sublime*
*.swp
*.swo
*.sln
*.user
*.pdb
*.userprefs

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json